/*NAVBAR*/

.navbar {
    background-color: #00b3fa;
    color: #3c3c3c;
}

.navbar a {
    font-size: large;
    font-weight: bold;
    color: #3c3c3c;
}
.navbar .nav-link:hover {
    text-decoration: underline;
}

/*BANNER*/

header {
    background-image: url(/sources/batiment.png);
    background-size: 100%;
    background-attachment: fixed;
    height: 50vw;
}

header .container {
    padding-top: 10%;
}

.header-title {
    font-size: 5vw;
    font-weight: bold;
}

/*who we are*/
#who_we_are {
    padding-top: 5%;
}

.title {
    background: #00b3fa;
    height: 100%;
}

#wo_we_are p {
    padding-top: 20%;
}
/*FOOTER*/

footer{
    background-color: #00b3fa;
    height: 10vw;
}